@import "../node_modules/bootstrap/less/bootstrap.less";

.disconnected {
  background-color: @state-danger-text;
}

.connected {
  background-color: @state-success-text;
}

.ping {
  background-color: @state-danger-bg;
  color: @state-danger-text;
}

div#target {
  .container;
}
